.heroSection .heroContent {
  width: 50%;
  position: relative;
  z-index: 1;
}

.heroSection .heroContent h1 {
  font-size: 58px;
  line-height: 64px;
  margin-bottom: 16px;
  font-weight: 900;
}

.heroSection .heroContent p {
  font-size: 24px;
  line-height: 36px;
  margin: 16px 0 32px;
}

.heroFooter {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 50px 0;
}

@media (max-width: 991px) {
  .heroSection .heroContent {
    width: 100%;
  }

  .heroSection .heroContent h1 {
    font-size: 34px;
  }
}
