.heroSection h1 {
  font-size: 42px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 24px;
}

.heroSection p {
  font-size: 20px;
  text-align: center;
}

.pricingCard {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

@media (max-width: 992px) {
  .pricingCard {
    flex-direction: column;
  }
}
